
/* Global css
------------------------------------------------------------*/
body {

}

main {
  &.site-main {
    width: 100%;
    min-height: calc(100vh - 199px);
    position: relative;
  }
}


/* Global classes
------------------------------------------------------------*/
.hide {
  display: none;
}

.wrapper {
  padding: 1.5rem 0 0;
}


/* Links
------------------------------------------------------------*/
a {
  color: #000;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    outline: none;
  }
}


/* Headings
------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: bold;
}

h1 {
  font-size: $size_h1;
}

h2 {
  font-size: $size_h2;
}

h3 {
  font-size: $size_h3;
}

h4 {
  font-size: $size_h4;
}

h5 {
  font-size: $size_h5;
}
