
//Colors
$primary: #6c8b7c;
$primary_transp: rgba($primary, .6);
$color_grey: #ededed;

//color
$inverted: #dadcdd;

//Fonts - copied from understrap - not in use
$fonts_global: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

//Font size
$size_h1: 26px;
$size_h2: 24px;
$size_h3: 22px;
$size_h4: 18px;
$size_h5: 16px;
$size_h6: 14px;
$size_p: 14px;
$size_md: 13px;
$size_sm: 12px;
$size_xs: 11px;
$size_xxs: 10px;
$size_large: 36px;


//Border color
$border_grey: #CCC;
$bg_grey_light: #F1F1F1;
