/* Buttons
------------------------------------------------*/
.btn-primary,
.btn,
.button,
button {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $size_sm;
  background-color: #000;
  color: #FFF;
  padding: .5rem 1.5rem;


  &:hover {
    background-color: #000;
    color: #FFF;
  }

  &:focus,
  &.focus {
    box-shadow: none !important;
  }

  &.large {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
