.attachment img[src$=".svg"],
.widget_media_image img[src$=".svg"]{
  width:100%;
}

.attachment img[src$=".svg"],
.widget_media_image img[src$=".svg"]{
  width:100%;
}

.attachment svg,.widget_media_image svg{
  max-width:100%;
  height:auto;
}
