/* Slider defaults */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}


/* Arrows
--------------------------------------------------------*/
.slick-slider {
  .slick-arrow {
    position: absolute;
    top: 35%;
    bottom: auto;
    z-index: 2;
    cursor: pointer;
    width: 25px;
    height: 50px;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    transition:all 200ms ease;
    transform: translateY(0);

    &.arrow-prev {
      left:-30px;
      right: auto;
      background-image: url('../images/arrow-prev.png');

      &:hover,
      &:focus {
        transform: translateY(2px);
      }
    }

    &.arrow-next {
      left: auto;
      right: -30px;
      background-image: url('../images/arrow-next.png');

      &:hover,
      &:focus {
        transform: translateY(2px);
      }
    }
  }
}


/* Dots
--------------------------------------------------------*/
.slick-slider {
  .slick-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;

    span,
    a,
    button {
      text-indent: -9999px;
      height: 14px;
      width: 14px;
      display: inline-block;
      margin: 2px;
      border: 2px solid #f5f2f0;
      border-radius: 50%;
      background-color: transparent;
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        transition: all 0.3s ease-in-out;
        height: 12px;
        width: 12px;
        transform: scale(0);
        display: block;
        border-radius: 50%;
        background-color: #f5f2f0;
        opacity: 0;
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;

        &::after {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    li {
      list-style-type: none;
      display: inline;

      &.slick-active {
        span,
        a,
        button {
          &::after {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}
